.banner {
    position: relative;
}

 img {
    width: 100%;
}


.banner_content-left {
    position: absolute;
    left: var(--spacing-massive);
    bottom: var(--spacing-massive);
}

.banner_content-left p  {
    margin: var(--spacing-normal) auto;
    font-size: 1.4rem;
}

.banner-content-rigth {
    text-align: right;
    position: absolute;
    right: var(--spacing-large);
    bottom: var(--spacing-large);
    width: 40%;
}

.banner-content-rigth p {
    margin: var(--spacing-normal) auto;
    text-align: left;
}

.banner_btn {
    padding: var(--spacing-smaller) var(--spacing-massive);
    border: none;
    border-radius: var(--spacing-tiny);
    cursor: pointer;
    background-color: white;
}
