.follow {
    padding: var(--spacing-massive);
}

.follow_container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.follow_container img {
    height: 100%;
}

.follow-container_img1{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.follow-container_img2{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.follow-container_img3{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.follow-container_img4{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.follow-container_img5{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
