.header-green {
    width: 100%;
    padding: var(--spacing-tiny auto);
    text-align: center;
    background-color: var(--primary-600);
    color: white;
    font-family: 'Montserrat';
    font-size: .7rem;
    font-weight: bold;
}

.header-nav {
    padding: var(--spacing-small) var(--spacing-massive);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: center;
}

.logo_title {
    display: flex;
    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: .3rem;
}


.logo_subtitle {
    font-size: .5rem;
    font-family: 'League Spartan';
}


.header-nav nav ul {
    display: flex;
    list-style: none;
    gap: var(--spacing-normal);
    font-family: 'Montserrat';
    flex: 1;
    text-align: center;
}

.header_nav-item {
    text-decoration: none;
    color: var(--neutra-gray);
}

.header-nav_options {
    display: flex;
    gap: var(--spacing-normal);
}