.modiweek {
    padding: var(--spacing-massive)
}

.modiweek-container {
    min-width: 500px;
    display: flex;
    gap: var(--spacing-normal);

}

.modiweek-container_card {
    position: relative;
}

.mondiweek-container-card_icon {
    position: absolute;
    width: var(--spacing-small);
    top: var(--spacing-normal);
    right: var(--spacing-normal);
}