/* COLLECTION
--------------------------------- */

.collection-container{
    padding: 0 64px; 
    width: 100%;
    height: auto;  
}

.collection-container_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 25px;
    width: 100%;
}

.card-blouses, .card-pants, .card-dresses, .card-outwear {
    position: relative;
}

.card-blouses{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 5;
}

.card-pants{
    grid-column-start: 1;
    grid-row-start: 7S;
    grid-row-end: 8;
}

.card-dresses{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.card-outwear{
    grid-column-start: 2;
    grid-row-start:3;
    grid-row-end: 8;
}


.btn-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: .3rem 2rem;
    border: none;
    border-radius: 2px;
    width: auto;
    height: auto;
    cursor: pointer;

}

.btn-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: .3rem 2rem;
    border: none;
    border-radius: 2px;
    width: auto;
    height: auto;
    cursor: pointer;
}